html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1ca;
}

header {
    background-color: #cfcf81;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    /* Alinea el contenido a la derecha */
    border-bottom: 1px solid #d8d8c5;

}

header nav a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(99, 99, 40);
}